.KnowMoreWrapper{
    position: relative;
    height: 150vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;

}
.FooterStrip{
    position: absolute;
    width: 100%;
    bottom: 0%;
}



@media (max-width:1200px){

    .KnowMoreWrapper{

        height:auto;

        min-height:100vh;

        padding:0rem 0 10rem;

        background-position:center;

        background-size:cover;

    }

    .FooterStrip{

        width:100%;
        bottom:0;

    }

}


@media (max-width: 768px) {
  .KnowMoreWrapper {
    height: auto;
    min-height: 100vh;
    padding: 1rem 0 6rem;
    background-position: center;
    background-size: cover;
  }

  .FooterStrip {
    width: 100%;
    bottom: 0;
  }
}

@media (max-width: 480px) {
  .KnowMoreWrapper {
    padding: 2rem 0 5rem;
  }

  .FooterStrip {
    width: 100%;
  }
}