.RulesWrapper{
 position: relative;
    min-height: 100vh;
    height: fit-content;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
}
.RulesTitle{
   padding: 0.1rem 0rem 0rem 2rem;
   width: 37%;
}
.RulesListWrapper{
    width: 62%;
    padding-left: 4rem;
    text-align: justify;
}
.RulesList li{
font-family: "Chakra Petch";
line-height: 2.5rem;
font-size: 1.5rem;
color: white;
padding-left: 0.5rem;
}

.RulesList span{
    color: #BB2C2C;
}





@media (max-width: 1200px) {

  .RulesWrapper{
    min-height: 100vh;
    height: auto;
    padding-bottom: 4rem ;
    background-size: cover;
    background-position: center;
  }

  .RulesTitle{
    width: 50%;
    margin-top: 1rem;
    margin-left: 3rem;
  }

  .RulesListWrapper{
    width: 75%;
    margin-left: 3rem;
    margin-top:0rem;
  }

  .RulesList li{
    font-size: 1.15rem;
    line-height: 1.8;
    margin-bottom: 1.6rem;
  }
}


@media (max-width: 768px) {

  .RulesWrapper{
    min-height: 90vh;
    height: auto;
    padding-bottom:0rem;
    overflow: visible;
    background-size: cover;
    background-position: center;
  }

  .RulesTitle{
    display: block;
    width: 80%;
    margin: 0 auto 0rem;
  }

  .RulesListWrapper{
    width: 90%;
    margin: 0 auto;
    padding-left: 0;
  }

  .RulesList{
    padding-left: 1.5rem;
  }

  .RulesList li{
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 480px) {

  .RulesTitle{
    width: 70%;
  }

  .RulesListWrapper{
    width: 92%;
  }

  .RulesList{
    padding-left: 1.2rem;
  }

  .RulesList li{
    font-size: 0.9rem;
    line-height: 1.6;
    margin-bottom: 1.3rem;
  }
}

@media(max-height:768px){
  .RulesWrapper{
    min-height: 120vh;
    height: fit-content;
  }
}