
.ContactInfoWrapper{
    width: 100%;
    height: 100%;
}
.ContactInfoInputField{
   margin-top: 2rem;
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
