.HeaderWrapper{
    width: 100%;
}
.RegisterTitle{
    margin-top: 0rem;
    width: 100%;
}
@media(max-width:768px){
.RegisterTitle{
    width: 190%;
    margin-left: -45%;
}
}
@media(max-width:480px){
    .RegisterTitle{
        /* margin-top: 2rem; */
    }
}