
.InfoWrapper{
    
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
}
.RegisterForm{
    width: 100%;
}
.RegisterWrapper{
    position: relative;
    width: 100%;
    height: 180vh;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;

}
 
.rightcolumn{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.leftcolumn{
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
}
.submitText{
    margin-top:7.5rem ;
    width: 85%;
    font-size: 0.7rem;
    line-height: 0.8rem;
}
.RegisterButton{
    margin-top: 1.5rem;
    height: 4.5rem;
    background-color: #B53227;
    font-weight: 800;
    font-size: 2rem;
    color: #3D001A;
    border: none;
    letter-spacing: -0.1rem;
    border-bottom:10px solid #3D001A;
}
.footerStrip{
    width: 100%;
    position: absolute;
    bottom: 5%;
}