.VenueSelectWrapper {
  width: 100%;
}

.VenueSelectHeading {
  color: white;
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

.VenueSelectgridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.VenueSelectgridItem {
 width: 100%;
  height: 3rem;
  background: #101010;
  border: 2px solid #E35448;
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.25s ease;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.gridItem:hover {
  background: rgba(214, 64, 50, 0.25);
}

.selected {
  background: #B53227;
  color: white;
}