.VenueSelectWrapper {
  width: 100%;
}

.VenueSelectHeading {
  color: white;
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 1rem;
  font-family: "Anton";
}

.VenueSelectgridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.VenueSelectgridItem {
  font-family: "Anton";
 width: 100%;
  height: 3rem;
  background: #101010;
  border: 2px solid #E35448;
  color: white;
  font-size: 1.5rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.25s ease;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.gridItem:hover {
  background: rgba(214, 64, 50, 0.25);
}

.selected {
  background: #B53227;
  color: white;
}
@media(max-width:840px){
  .VenueSelectHeading{
    font-size: 1.8rem;
  }
}
@media (max-width:768px){
  .VenueSelectHeading{
      font-size:1.4rem;
  }

  .VenueSelectgridContainer{
      grid-template-columns:repeat(2,1fr);
  }

}

@media (max-width:480px){
  .VenueSelectgridContainer{
      grid-template-columns:1fr;
  }

}