.WinnerDetailsWrapper {
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 8% 6rem 5%;
  box-sizing: border-box;
  perspective: 1000px;
  overflow: hidden;
}

.WinnerDetailsContentWrapper {
  width: 100%;
  max-width: 1600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.WinnerDetailsLeftSection {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.BandName {
  display: block;
  width: 100%;
  max-width: 620px;
  height: auto;
  object-fit: contain;
}


.DecadeTitle {
  display: block;
  width: 42%;
  max-width: 230px;
  height: auto;
  margin-top: 1.1rem;
  object-fit: contain;
}

.BackButton {
  width: 550px;
  height: 55px;
  border: none;
  background: transparent;
  cursor: pointer;
  position: absolute;
  top: 3%;
  left: -15%;
  padding: 0;
  margin-bottom: 3rem;
}

.BackButton img {
  width: 80%;
  height: 80%;
  object-fit: contain;
}

.Description {
  margin-top: 2rem;
  max-width: 700px;
  color :white;
  font-family: "Chakra Petch", sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
}

.WinnerDetailsRightSection {
  width: 48%;
  height: 80svh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 6rem;
}

.AlbumStack {
  position: relative;
  width: 100%;
  height: 100%;
  transform: perspective(1200px) rotateY(-60deg);
  transform-style: preserve-3d;
  transform-origin: center center;
}

.img1 {
  position: absolute;
  width: 50vw;
  height: 45vw;
  left: -35vw;
  top: 50%;
  transform: translateY(-50%);
  z-index: 4;
}

.img2 {
  position: absolute;
  width: 35vw;
  height: 35vw;
  left: -2vw;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
}

.img3 {
  position: absolute;
  width: 40vw;
  height: 30vw;
  left: 8vw;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.img4 {
  position: absolute;
  width: 40vw;
  height: 25vw;
  left: 13vw;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}


.circle {
  position: absolute;
  width: 40vw;
  height: 40vw;
  left: -12vw;
  top: 50%;
  margin-left: -20vw;
  margin-top: -20vw;
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  z-index: 100;
}


.smallcircle {
  position: relative;
  width: 2vw;
  height: 2vw;
  left: -12vw;
  top: 50%;
  background-color: #430a0a;
  border-radius: 50%;
  opacity: 0;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.9rem;
  padding: 0.5rem;
  text-align: center;
}

.smallcircle h4 {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  font-family: "Space Mono", monospace;
  color: white;
  
}

.smallcircle p {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Space Mono", monospace;
  font-size: 1rem;
  white-space: nowrap;
}



.circleTextTop,
.circleTextBottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.9rem;
  width: 100%;
}

.circleTextBottom {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
}


.swipeImg {
  position: absolute;
  width: 45vw;
  height: 45vw;
  left: -35vw;
  top: 50%;
  margin-top: -22.5vw;
  clip-path: inset(100% 0 0 0);
  overflow: hidden;
}

.swipeImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.swipeCircle {
  position: absolute;
  width: 40vw;
  height: 40vw;
  left: -12vw;
  top: 50%;
  margin-left: -20vw;
  margin-top: -20vw;
  border-radius: 50%;
  overflow: hidden;
  clip-path: inset(100% 0 0 0);
}

.swipeCircle img {
  position: absolute;
  width: 142%;
  height: 142%;
  top: 50%;
  left: 50%;
  margin-left: -71%;
  margin-top: -71%;
  object-fit: cover;
}



.side {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  position: absolute;
  top: 100%;
}

.left {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
 padding-left: 2vw;
}

.left img {
  width: 25vw;
  height: 25vw;
     padding-left: 2vw;
   padding-right: 1vw;
   object-fit: contain;
}

.left p {
  width: 25vw;
  color: white;
  font-family: "Chakra Petch";
   padding-left: 3vw;
   padding-right: 1vw;
  
}

.left h4 {
  color: #b53227;
   padding-left: 3vw;
   font-family: "Sedgwick Ave Display";
   font-size: 2rem;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 50svh;
}

.right img {
 width: 25vw;
  height: 25vw;
     padding-left: 1vw;
   padding-right: 2vw;
}

.right p {
  width: 25vw;
  color: white;
  font-family: "Chakra Petch";
    padding-left: 1vw;
   padding-right: 2vw;
}

.right h4 {
  color: #b53227;
  font-family: "Sedgwick Ave Display";
  font-size: 2rem;
  margin-right: 16vw;
}

.mobileWrapper{
  display: none;
}

.mBandName {
  width: 80%;
  height: auto;
  object-fit: contain;
}
.mTitle{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.mDecadeTitle{
  width: 50%;
  height: auto;
  object-fit: contain;
}
.mDescription{
  width: 90%;
  padding-left: 1rem;
  font-family: "Chakra Petch";
  font-size: 1.5rem;
}
.mbottom{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
}
.mleft{
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  width: 100%;;
  justify-content: center;
  align-items: center;
}
.mleft img{
width: 80%;
height: 80%;
}
.mleft h4{
  color: #b53227;
   font-family: "Sedgwick Ave Display";
   font-size: 3rem;
   margin-bottom: 2rem;
}
.mleft p{
  width: 80%;
  color: white;
  font-size: 1rem;
}

.mright{
  display: flex;
  flex-direction: column;
  width: 100%;;
  justify-content: center;
  align-items: center;
}
.mright img{
width: 80%;
height: 80%;
}
.mright h4{
  color: #b53227;
   font-family: "Sedgwick Ave Display";
   font-size: 3rem;
   margin-bottom: 2rem;
}
.mright p{
  width: 80%;
  color: white;
  font-size: 1rem;
}
.middle{
  position: relative;
  margin-top: 3rem;
  display: flex;
  width:100%;
    justify-content: center;
}.mrect {
  width: 90%;
  z-index: 1;
  aspect-ratio: 1;       /* ← forces square */
  object-fit: cover;     /* ← crops to fill */
}

.mcircle {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  border-radius: 50%;
  width: 80%;
  aspect-ratio: 1;
  object-fit: cover;
  animation: spin 3s linear infinite;
}

.msmallcircle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #430a0a;
  width: 50%;
  aspect-ratio: 1;       /* ← was height: 50% which doesn't work */
  z-index: 3;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    gap: clamp(0.3rem, 3vw, 2rem); 
}
@keyframes spin {
  from {
    transform: translate(-50%,-50%) rotate(0deg);
  }
  to {
    transform: translate(-50%,-50%) rotate(360deg); 
  }}
/* 
.msmallcircle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #430a0a;
  width: 50%;
  height: 50%;
  z-index: 3;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  object-fit: cover;
  gap: 2rem;
} */



.msmallcircle h4 {
  margin: 0;
  padding: 0;
  font-size: clamp(0.9rem, 5vw, 2.5rem); 
  font-family: "Space Mono", monospace;
  color: white;
  
}

.msmallcircle p {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Space Mono", monospace;
  font-size: clamp(0.9rem, 3vw, 2.5rem); 
  white-space: nowrap;
}
@media(max-width:768px){

  .WinnerDetailsWrapper{
    display: none;
    visibility: hidden;
  }
  .mobileWrapper{
    display: flex;
    width: 100vw;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }
  
}



@media (min-width: 1170px) and (max-width: 1500px) {

  .WinnerDetailsRightSection {
    width: 48%;
    height: 80svh;
    padding-top: 4rem;
  }

  .AlbumStack {
    width: 100%;
    height: 100%;
  }

  .img1 {
    width: 48vw;
    height: 43vw;
    left: -33vw;
  }

  .img2 {
    width: 34vw;
    height: 34vw;
    left: -1vw;
  }

  .img3 {
    width: 38vw;
    height: 29vw;
    left: 7vw;
  }

  .img4 {
    width: 38vw;
    height: 24vw;
    left: 14vw;
  }

.circle {
  position: absolute;
  width: 40vw;
  height: 40vw;
  left: -10vw;
  top: 50%;
  margin-left: -20vw;
  margin-top: -20vw;
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  z-index: 100;
}
.smallcircle{
  left: -10vw;
}
.swipeImg {
  position: absolute;
  width: 45vw;
  height: 45vw;
  left: -33vw;
  top: 50%;
  margin-top: -22.5vw;
  clip-path: inset(100% 0 0 0);
  overflow: hidden;
}

.swipeCircle {
  position: absolute;
  width: 40vw;
  height: 40vw;
  left: -10vw;
  top: 50%;
  margin-left: -20vw;
  margin-top: -20vw;
  border-radius: 50%;
  overflow: hidden;
  clip-path: inset(100% 0 0 0);
}
}